/*==============
    HEADER
==============*/

header#masthead{

    border-bottom:1px solid $liter-grey;

    .site-title{
        color: $green;
        font-size: 2.5em;
        text-transform:uppercase;
        font-weight:bold;
    }
    .sticky-menu{

        width:100%;
        z-index:100;
        margin:0;

        &.on{
            background-color: transparentize($black,0.3);
            a{
                color:white;
            }
        }
  }

    nav{



        a{
            text-transform:uppercase;
            font-size:1em;
        }
    }
}
